*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "open sans", sans-serif;
    font-weight: 400;
}

.todo{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
}

.todo__header{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo__body{
    height: 70%;
    overflow: scroll;
}
.todo__footer{
    background: yellow;
    height: 10%;
}

.todo__heading{
    font-weight: 500;
    font-size: 300%;
}

.todo__task{
    border-bottom: 2px solid rgb(0,0,0,0.2);
    padding: 20px;

}

.todo__task--done{
    text-decoration: line-through;
}

.todo__task:hover{
    cursor: pointer;
    background-color: hsl(0,0%,90%);
}

.todo__input{
    width: 100%;
    height: 100%;
    font-size: 80%;
    font-family: "open sans", sans-serif;
}

